.shadow-blue {
    box-shadow: 0 0 2em rgb(0, 52, 65) !important;
    /* Example: Blue shadow */
}

.container-md {
    transform: .3ms ease !important;
}

.border-c-blue {
    border-top: none !important;
    border-right: none !important;
    border-bottom-color: #00ccff9e;
    border-left: none !important;
    border-style: solid;
}

.a-c {
    color: #00ccff9e !important;
    transition: .3s ease;
    border-bottom: solid 2px #00000000 !important;

    &:hover {
        color: #fff !important;
        text-shadow: 0 0 15px #dc3545;
        border-bottom: #dc3545 2px solid !important;
    }
}

.sosmed {
    display: flex;
    gap: 2em;
}

.fa-brands, .fa-solid {
    display: flex;
    font-size: 2.5rem;
    justify-content: center;
    align-items: center;
    color: #00ccffcc;
    border: 1px solid #00ccff9e;
    border-radius: 50%;
    scale: .8;
    margin: 0 -.35em;
    height: 4rem;
    width: 4rem;
    transition: .3s ease;

    &:hover {
        box-shadow: 0 0 10px #dc3545;
        cursor: pointer;
    }
}

@media only screen and (max-width: 1000px) {
    #content {
        display: flex;
        flex-direction: column;
        gap: 5em;
    }

    .container-md {
        height: fit-content;
    }

    .sosmed {
        display: flex;
        justify-content: center;
    }

    .navbar {
        position: relative !important;
        margin-bottom: 1em;
        transform: .3s ease;
    }
}

.mt-5em {
  margin-top: 5em;
}